---
name: CI

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '**.md'

jobs:
  test:
    name: Test Analyzer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Build Docker Image
        run: docker build -f Dockerfile -t python-analyzer .
          
      - name: Run Tests
        run: docker run --entrypoint "pytest" python-analyzer
